<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">



	<root level="debug">
		<appender-ref ref="FILE" />
	</root>


	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/mbelhadj/workspaceSpring/computer-database/log/logfile.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/home/mbelhadj/workspaceSpring/computer-database/log/logFile.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35}
				- %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="ComputerDaoImpl" level="debug">
		<appender-ref ref="FILE" />
	</logger>


</configuration>
